* {
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}
body{
    background-size: cover;
    font-family:'sofia', cursive;
    color:black;
    line-height: 1.6;
    padding: 20px;
}
header{
    background-color: aliceblue;
    color: black;
    padding: 15px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
#image{
    flex:2;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#links, #rating{
    flex:1;
}
h1 {
    font-family: 'Joshfin Sans', sans-serif;
    font-size: 2.5em;
    color:black;
    font-weight:bold;
}
.row{
    display: flex;
    margin-bottom: 20px;
    gap: 20px;
}
.column{
    background-color: aliceblue;
    padding: 15px;
    border-radius: 5px;
    flex: 1;
}
h2,h3{
    font-family: 'Berkshire Swash', cursive;
    color:black;
    margin-top: 30px;
}
ul, ol{
    padding: 10px 20px;
    border-radius: 8px;
}
li{
    margin-bottom: 6px;
}
fieldset{
    border:2px solid #919090;
    border-radius: 8px;
    padding: 10px;
    margin-top: 8px;;
}
legend{
    font-weight: bold;
    color:#434343
}
input[type="text"],
input[type="number"]{
    padding: 5px;
    margin:5px;
    border-radius: 4px;
    border:1px solid;
}
a{
    color:blue;
}
figcaption{
    font-size: 0.85em;
    color: blue;
}
hr{
    border:none;
    margin:30px;
}
footer{
    text-align: center;
}